@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 45px;
}
.container2{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    margin: auto;
}
.container4{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 3.5%;
}

.int h2{
    margin-bottom:3px;
}
.int p{
    margin-top:0;
}
.container5{
    width: 100%;
    background-color: #f7f7f7;
    margin-top: 2%;
    padding: 1% 0;
}
.item{
    text-align: center;
    min-height: 375px;
    
}
.item .img{
    width: 250px;
    border-radius: 50%;
    background-color: white;
    height: 250px;
    position: relative;
    left:30%;
}
.item .img img{
    width: 70% !important;
    position: relative;
    left: 15%;
    top: 15%;
}
.item h3{
    line-height: 0;
}
.item p{
    font-size: 12px;
    color:gray;
    text-transform: uppercase;
}
.item h2{
    color:#ff7c06;
    line-height: 0;
    padding-top: 2px;
}
.disc{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #ff7c06;
    position: absolute;
    top:10%;
    left:28%;
    z-index: 1;
}
.disc p{
    line-height: 0;
    color:white;
    font-size: 26px;
    font-weight: 600;
    margin-top: 50%;
}
.item a{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1% 5.5%;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1%;
    font-weight: 600;
    font-size: 20px;
    color:black;
}
.mensaje{
    margin-left:2%;
    width: 15%;
    float: left;
}
.mensaje h2{
    color: #ff7c06;
    text-transform: uppercase;
    font-size:42px;
    line-height: 40px;
    margin-bottom: 0;
}
.mensaje p{
    margin-top:10px;
}
.mensaje span{
    text-transform: uppercase;
    font-size:20px;
    font-weight: 600;
    position: relative;
    bottom: 10px;
    margin-left: 5px;
    padding: 3% 0;
}
.mensaje span::before{
    content: "";
    position: absolute;
    display: inline-block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width:45%;
    height: 22px;
    padding: 9% 0;
    top:2%;
    margin-top: -1px;
}
.arreglo{
    float: left; 
    width: 70% !important;
    margin:auto;
}
.arreglo::after{
    float: none; 
    
}
.item a:hover{
    background-color:black;
    color:white;
}
.flex{
    display: block;
    position: relative;
    left:2%;
    z-index: 2;
    float:left;
}
.flex-fix{
    display: block;
    position: relative;
    z-index: 2;
    float:right;
    right:2%;
}
.naveg{
    position: relative;
    bottom:25vh;
}
.naveg2{
    position: relative;

width: 70%;

float: right;

bottom: 25vh;

right: 9vw;
}
.margen{
    width: 90% !important;
    margin: auto;
}
.flecha{
    color:#ff7c06;
    background-color: transparent;
    border: 0;
    font-size: 25px;
}
.flecha:hover{
    cursor: pointer;
}

.container5::before{
    width:0px;
    content: "";
    height:0px;
    border-left:50px solid transparent; /* izquierda flecha */
    border-right:50px solid transparent; /* derecha flecha */
    border-bottom:50px solid #f7f7f7; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
    position: relative;
    left:47%;
    bottom: 72px;
    justify-content: center;
    
}
.container3{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 1.5%;
}

.container2 > ul{
    padding-left:0;
    
    list-style-type: none;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}
.container2 > ul li{ 
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    height: 100%;
    
}
.container2 > ul li a{ 
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 25px;    
}
.container2 > ul li a:after{ 
    content: "";
    position: relative;
    display: none;
    left:25%;
    top:5px;
    border-bottom: 2px solid #ff7c06;
    width:50%;
    
    
}
.img-no:hover{
    color: transparent;
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.img-no:after{
    position: relative !important;
    border-bottom: 0 !important;
    display: none;
    
}
.img-no:after:hover{
    position: relative !important;
    border-bottom: 0 !important;
    display: none;
    
}

.container2 > ul li a:hover{ 
    color: #ff7c06;
    
}
.container2 > ul li a:hover:after{ 
    
    display: block;
    
    
}
.box{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: #ff7c06;
    margin-right: .1%;
    color:white;
    flex-wrap: nowrap;
    justify-content: center;
    flex-basis: auto;
    height: auto;
    align-items: center;
}
.box2{
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
    justify-content: center;
    flex-basis: auto;
    height: auto;
    align-items: center;
}
.box p{
    font-size: 17px;
    padding-right:.5%;
    padding-left: .5%;
    font-weight: 400;
}
.box:nth-child(2) > p{
    font-size: 25px;
    font-weight: 600;
}
.box:nth-child(3){
    margin-right: 0;
}
